body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #d4a373;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 10px;
}

th {
    background-color: #d4a373;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn {
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #d4a373;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #d4a373;
}

.btn:active {
    background-color: #d4a373;
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#home-button {
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #d4a373;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#home-button:hover {
    background-color: #241715;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    background-color: #d4a373;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}