body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ddb892;
    color: ghostwhite;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.movie {
    margin-bottom: 20px;
    border: 1px solid #ddb892;
    padding: 10px;
    display: flex;
}

.movie img {
    width: 150px;
    height: 200px;
    margin-right: 20px;
}

.movie-info {
    flex-grow: 1;
}

.movie-title {
    font-size: 20px;
    font-weight: bold;
}

.movie-description {
    margin-top: 10px;
    font-size: 16px;
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: ghostwhite;
}

.screen {
    height: 20px;
    width: 60%;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.seat-container {
    width: 400px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seat {
    width: 20px;
    height: 20px;
    margin: 3px 1px;
    background-color: #dad7cd;
    border: 1px solid #dad7cd;
    cursor: pointer;
    position: relative;
}

.seat-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    opacity: 0;
}

.seat.selected {
    background-color: #d4a373;
    border: 1px solid #d4a373;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.hidden-link {
    display: inline;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.hidden-link img {
    border: none;
    outline: none;
}

#home-button {
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #d4a373;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#home-button:hover {
    background-color: #241715;
}

footer {
    background-color: #d4a373;
    color: #fff;
    padding: 40px;
    text-align: center;
}
.hidden {
    display: none;
}
